name: Fontforge validation

on: [pull_request]

jobs:
  check_changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    outputs:
      font: ${{ steps.changes.outputs.font }}
    steps:
      - # v3.0.2 (at the time of commit)
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: changes
        with:
          filters: |
            font:
              - '*.sfd'

  build_and_test:
    needs: check_changes
    if: ${{ needs.check_changes.outputs.font == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        # v5 (at the time of commit)
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - name: Run build in dev container
        # v0.3 (at the time of commit)
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6
        with:
          cacheFrom: ghcr.io/comcode-org/white-bunnybat-devcontainer
          runCmd: ./validate.py white-bunnybat.sfd
